/*Nav bar*/

.nav-item a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding-left: 1rem;
}


.nav-item a:hover {
    color: #dcdbd7;
    transition: .25s;
}

/*hero*/

.AspectRatioBox {
    padding-left: calc(1.5 / 1 * 25%);
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin-bottom: 5rem;
}
.rotate {
    border: 5px solid white;
    rotate: 8deg;
    margin-top: 3rem;
    margin-left: 3rem;
}

#hero {
    background-image: url(./images/portfolio-background.png);
    background-size: cover;
    background-position: bottom;
}

@media (min-width: 993px) {
    #hero {
        min-height: 514px;
        height: 100vh;
    
    }
    
}



.hero-hed {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #333;

}

h1 {
    font-size: 4rem;
    line-height: 4.5rem;
}

h5 {
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 2rem;
}



@media (max-width: 992px) {
    #hero {
        max-height: 420px;
    }
    .AspectRatioBox {
        padding-left: calc(1.5 / 1 * 25%);
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    .rotate {
        margin-top: 1rem;
        margin-left: 1rem;
        rotate: none;

    }
    h1 {
        font-size: 2.5rem;
        line-height: 2rem;
    }
    h5 {
        font-size: 1.25rem;
        left: 1.675rem;
    }
    .hero-hed {
        margin-bottom: 2rem;
    }
}

@media (max-width: 992px) {
    #hero {
        max-height: 360px;
    }
    .AspectRatioBox {
        padding-left: calc(1.5 / 1 * 25%);
        background-size: cover;
        background-position: center;
        height: 30vh;
    }
    h5 {
        font-size: 1.1rem;
        left: 1.25rem;
    }

    

}

@media (max-width: 576px) {
    #hero {
        height: 280px;
    }
    
}


/*skills section*/

#skills {
    background-color: #000;
    padding-bottom: 4rem;
}

h2 {
    font-size: 2.25rem;
    line-height: 2.675rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.super-title {
    text-transform: uppercase;
}

i.icon {
    font-size: 1.5rem;
}


@media (max-width: 720px) {
    h2 {
        margin-bottom: 3rem;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 1.5rem;
    }

    
}

/*porfolio section*/
#portfolio {
    background-color: darkgray;
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.thumbnail-previews {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000;
}

.img-card.airbnb {
    background-image: url(./images/thumb-airbnbnews-bw.jpg);
    padding-top: calc(4 / 4.5 * 100%);
    background-size: cover;
    background-position: top center;
    padding-left: 0;
    padding-right: 0;
}

.img-card.airbnb:hover {
    background-image: url(./images/thumb-airbnbnews.jpg);
    transition: .25s;
}

.thumbnail-previews.col-10 {
    padding-left: 0;
    padding-right: 0;
}

.thumb-content {
    padding: 2rem;
    color: #333;
    padding-bottom: auto;
}

.img-card.newsweek {
    background-image: url(./images/thumb-newsweek-bw.jpg);
    padding-top: calc(4 / 4.5 * 100%);
    background-size: cover;
    background-position: top center;
    padding-left: 0;
    padding-right: 0;
}

.img-card.newsweek:hover {
    background-image: url(./images/thumb-newsweek.jpg);
    transition: .25s;
}
.img-card.apple {
    background-image: url(./images/thumb-apple-bw.jpg);
    padding-top: calc(4 / 4.5 * 100%);
    background-size: cover;
    background-position: top center;
    padding-left: 0;
    padding-right: 0;
}

.img-card.apple:hover {
    background-image: url(./images/thumb-apple.jpg);
    transition: .25s;
}

a .thumbnail-previews {
    margin: 0;
}

p small a {
    text-decoration: none;
    color: #333;
}

p small a:hover {
    color: #000;
}

.footer-items {
    font-size: 1.5rem;
    margin: 1rem;
    color: #333;
}

.footer-items:hover {
    color: #000;
    transition: .25s;
}